@addTagHelper *, CasaDoCodigo.MVC
@using CasaDoCodigo.MVC.Areas.Catalogo.Models.ViewModels
@model CarroselPrincipalViewModel
@{
    var categoria = Model.Categoria;
}

<h3>@categoria.Nome</h3>

<div id="my-carousel-@categoria.Id" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (int pagina = 0; pagina < Model.NumeroDePaginas; pagina++)
        {
            <vc:carrosel indice="@pagina" produtos-da-categoria="@Model.Produtos" tamanho-da-pagina="@Model.TamanhoDaPagina" />
        }
    </div>

    <!-- Controls -->
    <partial name="_NavegacaoCarrosel" model="@categoria" />
</div>
